@import "tailwindcss";

@font-face {
    font-family: 'iran-yekan';
    src: url('../fonts/IRANYekanXFaNum-Regular.ttf');
}

@theme{
    --font-IranYekan: 'iran-yekan';
    --color-primary: #EF172E;
    --color-background-input : #2727270A;
    --color-light-red: #fde1e4;
    --color-dark: #262626;
    --color-light-grey: #54595F;
    --color-dark-pink: #9d797d;
    --color-space: #1a1e41;
}